<div class="container">
{% if cart.item_count > 0 %}
  <h1 class="text-center mb-5">{{ 'cart.general.title' | t }}</h1>

  <form action="/cart" method="post" novalidate>
    <table class="responsive-table">
      <thead class="small--hide">
        <tr>
          <th colspan="2" class="text-left">{{ 'cart.label.product' | t }}</th>
          <th class="d-none-onlymb">{{ 'cart.label.price' | t }}</th>
          <th class="qtycol d-none-onlymb">{{ 'cart.label.quantity' | t }}</th>
          <th class="d-none-onlymb">{{ 'cart.label.total' | t }}</th>
        </tr>
      </thead>
      <tbody>

        {% for item in cart.items %}

        {% comment %}

        Cart Item Template
        =====================
        The data-label attributes on <td> elements are mobile-friendly
        helpers used for responsive-table labels
        {% endcomment %}

          <tr class="responsive-table-row mb-5">

            <td data-label="{{ 'customer.order.product' | t }}" class="col-img">

              {% if item.image != blank %}
                <a href="{{ item.url | within: collections.all }}">
                  {{ item | img_url: '240x240' | img_tag: item.title }}
                </a>
              {% endif %}

            </td>
            <td class="details-col">
              <a href="{{ item.url }}">{{ item.product.title }}</a>

              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p>
              {% endunless %}


              {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:

                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a class="removea" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </td>
            <td data-label="{{ 'cart.label.price' | t }}">
              {% if item.original_line_price != item.line_price %}
                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                {{ item.price | money }}
                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                <s>{{ item.original_price | money }}</s>
              {% else %}
                {{ item.price | money }}
              {% endif %}
            </td>
            <td class="qtycol" data-label="{{ 'cart.label.quantity' | t }}">
              <span class="qty"><span class="minus">&ndash;</span><input type="text"
                     name="updates[]"
                     id="updates_{{ item.key }}"
                     value="{{ item.quantity }}"
                     min="0"
                     aria-label="{{ 'cart.general.item_quantity' | t }}"><span class="plus">+</span></span>
            </td>
            <td data-label="{{ 'cart.label.total' | t }}">
              {{ item.line_price | money }}
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>

    {% if settings.cart_notes_enable %}
    {% endif %}
	<div class="total">
	    <dl class="d-inline-flex flex-row">
		    <dt class="mr-5">{{ 'cart.general.subtotal' | t }}</dt>
			<dd class="ml-5">{{ cart.total_price | money }}</dd>
	    </dl>
	    {% if cart.total_discounts > 0 %}
	     <dl class="d-inline-flex flex-row">
	     	<dt class="mr-5">{{ 'cart.general.savings' | t }}</dt>
	     	<dd class="ml-5">{{ cart.total_discounts | money }}</dd></p>
	     </dl>
	    {% endif %}
	    <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
	    <input type="submit" name="update" class="btn btn-outlined mr-4 mt-5" value="{{ 'cart.general.update' | t }}">
	    <input type="submit" name="checkout" class="btn btn-full mt-5" value="{{ 'cart.general.checkout' | t }}">
	</div>
  </form>
{% else %}
  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}
</div>