{% assign pageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first %}

{% assign pageurl = pageurl | split:'?' | last | split:'\u0026' | first | split: "=" %}

{% if pageurl[0] == 'showall' and pageurl[1] == "true" %}
	{% comment %}{% section 'collection-hero' %}
	{% section 'separator' %}{% endcomment %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 text-center mb-lg-5">
					<h1 class="mb-0">{{ collection.title }}</h1>
				</div>
				<div class="col-md-8 text-center collection-description">
					{{ collection.description }}
				</div>
			</div>
		</div>
	{% section 'separator' %}
		<div class="container">
			<div class="row collectionproducts vlarge-gutters">
				{% for product in collection.products %}
					<div class="col-lg-6 col-sm-4 product-box">
						<a href="{{ product.url | within: collection  }}" class="aimg">
						{% if product.images[1] != blank %}
							<img class="w-100" src="{{ product.images[1] | img_url: '650x430', crop: 'center' }}" />
						{% else %}
							<img class="w-100" src="{{ product.images[0] | img_url: '650x430', crop: 'center' }}" />
						{% endif %}
						</a>
						<h2><a href="{{ product.url | within: collection  }}">{{ product.title }}</a></h2>
					</div>
				{% endfor %}
			</div>
		</div>


		{% section 'separator' %}
{% else %}


{% paginate collection.products by 1000 %}

	<div class="container">
		<div class="row">
			<div class="col-lg-3">
	{% assign tagall = '' %}
	{% assign keys = '' %}
{% for tag in collection.all_tags %}
	{% assign kk = tag | split:":" %}
	{% assign keys = keys | append: kk[0] %}
	{% assign keys = keys | append: '|' %}
{% endfor %}
{% assign keys = keys | split: '|' | uniq %}
<button class="sidebar-filter-toggle">
	<i class="icon-filter"></i> Show Filters
</button>
<div class="sidebar-filter">
	<button class="sidebar-filter-close"></button>
	<ul class="sidebar-filter-list">
		<li>Collection
			<ul>
				{% for link in linklists['collection-list'].links %}
					<li {% if link.active %}class="current"{% endif %}>
						{% if link.active %}
						<a href="/collections/all">
						{% else %}
									<a href="{{ link.url }}">
								{% endif %}
										{{ link.title }}
									</a>
					</li>
				{% endfor %}
			</ul>
		</li>

	{% for keyorder in linklists['sidebar-order'].links %}
		{% assign key = keyorder.title %}
			<li>{{ key }}
			<ul>
		{% for tag in collection.all_tags %}

			{% if keyorder.links != blank %}
				{% capture orderedtags %}
				{% for tagsorder in keyorder.links %}
					{% for tag in collection.all_tags %}
						{% assign kk = tag | split:":" %}
						{% if kk[1] == tagsorder.title %}
							<li {% if current_tags contains tag %}class="current"{% endif %}>
								<label>
									<input  class="filter_checkbox coll-filter" id="unchecked" type="checkbox" onClick="">
									{% if current_tags contains tag %}
										{{ kk[1] | link_to_remove_tag: tag }}
									{% else %}
										{{ kk[1] | link_to_add_tag: tag }}
									{% endif %}
								</label>
							</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
				{% endcapture %}
			{% endif %}

			{% assign kk = tag | split:":" %}
			{% if kk[0] == key %}
				{% if kk[0] == "colors" %}
					{% assign is_color = true %}
					{% assign css_color = '' %}
					{% assign tag_colors = settings.tag_colors | newline_to_br | split: '<br />' %}
					{% for color_row in tag_colors %}
						{% assign colortmp = color_row | split: ':' %}
						{% if colortmp[1] == kk[1] %}
							{% assign css_color = colortmp[0] %}
						{% endif %}
					{% endfor %}
				{% else %}
					{% assign is_color = false %}
				{% endif %}

				{% if keyorder.links != blank %}
					{{ orderedtags }}
					{% break %}
				{% else %}
					{% if current_tags contains tag %}
									<li data-variant-image="{{ variant_image_url }}" class="current {% if is_color %}color_row{% endif %}">
										<label>
											<input  class="filter_checkbox coll-filter" id="checked" type="checkbox" checked onClick="">
												{% if is_color %}
													<span style="background-color: {{ css_color }}; background-image: url('{{ swatch_image_url }}');" class="color_filter"></span>
												{% endif %}
												{{ kk[1] | link_to_remove_tag: tag }}
										</label>
									</li>
								{% elsif collection.all_tags contains tag %}
									<li data-variant-image="{{ variant_image_url }}" class="{% if is_color %}color_row{% endif %}">
										<label>
											<input  class="filter_checkbox coll-filter" id="unchecked" type="checkbox" onClick="">
											{% if is_color %}
												<span style="background-color: {{ css_color }}; background-image: url('{{ swatch_image_url }}');" class="color_filter"></span>
											{% endif %}
											{{ kk[1] | link_to_add_tag: tag }}
										</label>
									</li>
								{% endif %}
					{% endif %}
			{% endif %}
		{% endfor %}
			</ul></li>
	{% endfor %}
	</ul>
</div>

			</div>
			<div class="col-lg-9 order-0 order-lg-2">

			  <div class="row">
			    {% for product in collection.products %}
			      <div class="col-sm-4 product-box product">
			        {% if product.featured_image != blank %}
			          <a href="{{ product.url | within: collection }}" class="aimg">
				          <img class="fade w-100" src="{{ product.featured_image | img_url: "640x640", crop: 'center' }}" />
			          </a>
			        {% endif %}

			        <p class="product-title">
			          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
			        </p>
			      </div>

			    {% else %}
			      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
			        {% for i in (1..8) %}
			        <div class="col-sm-4 product-box product">
			          <a href="{{ product.url | within: collection  }}" class="aimg">
			            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
			            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
			          </a>

			          <p class="product-title">
			            <a href="{{ product.url | within: collection  }}">{{ 'homepage.onboarding.product_title' | t }}</a>
			          </p>

			        </div>
			        {% endfor %}
			      {% else %}
			        <p>{{ 'collections.general.no_matches' | t }}</p>
			      {% endif %}

			    {% endfor %}
			    {% comment %}
			    <div class="col-12">
				    {% if paginate.next %}
				        <div id="more" style="color: transparent;" class="theNextPage "><p>&darr; <a style="color: transparent;"  href="{{ paginate.next.url }}">More</a></p></div>
				    {% endif %}
				    <div id="loadingAnimation" class="hide text-center my-5 pb-5">{{ 'ajax-loader.gif' | asset_url | img_tag }}</div>
			    </div>
			    <div id="product-list-foot"></div>
			    {% endcomment %}
			  </div>

			</div>

		</div>
		{% section 'separator' %}
	</div>

{% endpaginate %}

<script type="text/javascript">

// $('.filter_checkbox').off().change( function(){
//    	var newURL = $(this).nextAll('a').attr('href');
//    	window.location.href = newURL;
//    });
</script>

{% comment %}

  {% if template contains 'collection' %}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dotimeout/1.0/jquery.ba-dotimeout.min.js"></script>

    <script>

    var isActive = false;

    function ScrollExecute() {
      scrollNode = $('#more').last();
      shopUrl = "https://jill-malek.myshopify.com";
      scrollURL = $('#more p a').last().attr("href");
      nextPageURL = shopUrl+ scrollURL;
      console.log(nextPageURL);

      if(scrollNode.length > 0 && scrollNode.css('display') != 'none') {
        $.ajax({
          type: 'GET',
          url: nextPageURL,
          beforeSend: function() {
            scrollNode.clone().empty().insertAfter(scrollNode).append('<img src="\"{{" "ajax-loader.gif"="" |="" asset_url="" }}\"=""/>');
            scrollNode.hide();
            if(scrollURL){
              console.log("true")
              $("#loadingAnimation").removeClass("hide");
            }

          },
          success: function(data) {
            // remove loading feedback

            scrollNode.next().remove();
            var filteredData = $(data).find(".product");
                moreLink = $(data).find(".theNextPage").last();
                $( ".theNextPage" ).remove();
            filteredData.insertBefore( $("#product-list-foot") );
            moreLink.insertBefore( $("#product-list-foot") );
             $("#loadingAnimation").addClass("hide");
            isActive = false;
          },

          dataType: "html"
        });
      }
    }

    $(document).ready(function () {
      $(window).scroll(function(){
        if(!isActive && $(document).height() - 500 < ($(document).scrollTop() + $(window).height())) {
          $.doTimeout( 'scroll', 500, ScrollExecute);
          isActive = true;
        };
      });
    });
    </script>
  {% endif %}

{% endcomment %}

{% endif %}
