{% assign pageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first %}

{% assign pageurl = pageurl | split:'?' | last | split:'\u0026' | first | split: "=" %}

{% if pageurl[0] == 'showall' and pageurl[1] == "true" %}
	{% section 'collection-hero' %}
	{% section 'separator' %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 text-center collection-description">
					{{ collection.description }}
				</div>
			</div>
		</div>
	{% section 'separator' %}
		<div class="container">
			<div class="row collectionproducts">
				{% for product in collection.products %}
					<div class="col-md-6">
						{% if product.images[1] != blank %}
							<img class="w-100" src="{{ product.images[1] | img_url: '650x430' }}" />
						{% else %}
							<img class="w-100" src="{{ product.images[0] | img_url: '650x430' }}" />
						{% endif %}
						<h2>{{ product.title }}</h2>
					</div>
				{% endfor %}
			</div>
		</div>
		
		<section class="shop-wallpaper">
			<div class="container">
				<div class="bg" style="background-image: url('//cdn.shopify.com/s/files/1/0351/4381/1203/files/shopwallpaper_1920x.jpg?v=1584096688');"></div>
				<div class="row section-row">
					<div class="col-12">
						<div class="inner">
							<a href="/collections/all">View all collections</a>
						</div>
					</div>
				</div>
			</div>
		</section>
{% else %}


{% paginate collection.products by 12 %}
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
	{% assign tagall = '' %}
	{% assign keys = '' %}
{% for tag in collection.all_tags %}				
	{% assign kk = tag | split:":" %}
	{% assign keys = keys | append: kk[0] %}
	{% assign keys = keys | append: '|' %}
{% endfor %} 
{% assign keys = keys | split: '|' | uniq %}
<ul class="sidebar-filter">
	<li>Collection
		<ul>
			{% for link in linklists['collection-list'].links %}
				<li {% if link.active %}class="current"{% endif %}>
					{% if link.active %}
					<a href="/collections/all">
					{% else %}
		            <a href="{{ link.url }}">
			        {% endif %}
		              {{ link.title }}
		            </a>
				</li>
			{% endfor %}
		</ul>
	</li>

{% for keyorder in linklists['sidebar-order'].links %}	
	{% assign key = keyorder.title %}
		<li>{{ key }}
		<ul>
	{% for tag in collection.all_tags %}
	
		{% if keyorder.links != blank %}
			{% capture orderedtags %}
			{% for tagsorder in keyorder.links %}
				{% for tag in collection.all_tags %}
					{% assign kk = tag | split:":" %}
					{% if kk[1] == tagsorder.title %}
						<li {% if current_tags contains tag %}class="current"{% endif %}>
							<label>
								<input  class="filter_checkbox coll-filter" id="unchecked" type="checkbox" onClick="">
								{% if current_tags contains tag %}
									{{ kk[1] | link_to_remove_tag: tag }}	
								{% else %}
									{{ kk[1] | link_to_add_tag: tag }}								
								{% endif %}
							</label>
						</li>
					{% endif %}
				{% endfor %}
			{% endfor %}	
			{% endcapture %}
		{% endif %}
		
		{% assign kk = tag | split:":" %}
		{% if kk[0] == key %}
			{% if kk[0] == "colors" %}
				{% assign is_color = true %}
				{% assign css_color = '' %}
				{% assign tag_colors = settings.tag_colors | newline_to_br | split: '<br />' %}
				{% for color_row in tag_colors %}
					{% assign colortmp = color_row | split: ':' %}
					{% if colortmp[1] == kk[1] %}
						{% assign css_color = colortmp[0] %}
					{% endif %}
				{% endfor %}
			{% else %}
				{% assign is_color = false %}
			{% endif %}
			
			{% if keyorder.links != blank %}
				{{ orderedtags }}
				{% break %}
			{% else %}
				{% if current_tags contains tag %}
		             <li data-variant-image="{{ variant_image_url }}" class="current {% if is_color %}color_row{% endif %}">
		               <label>
		                 <input  class="filter_checkbox coll-filter" id="checked" type="checkbox" checked onClick="">
		                   {% if is_color %}
		                     <span style="background-color: {{ css_color }}; background-image: url('{{ swatch_image_url }}');" class="color_filter"></span>
		                   {% endif %}
		                   {{ kk[1] | link_to_remove_tag: tag }}
		               </label>
		            </li>
		          {% elsif collection.all_tags contains tag %}
		            <li data-variant-image="{{ variant_image_url }}" class="{% if is_color %}color_row{% endif %}">
		              <label>
		                <input  class="filter_checkbox coll-filter" id="unchecked" type="checkbox" onClick="">
		                {% if is_color %}
		                  <span style="background-color: {{ css_color }}; background-image: url('{{ swatch_image_url }}');" class="color_filter"></span>
		                {% endif %}
		                {{ kk[1] | link_to_add_tag: tag }}
		              </label>
		            </li>
		          {% endif %}
		    {% endif %}
		{% endif %}
	{% endfor %}
		</ul></li>
{% endfor %}
</ul>			


			</div>
			<div class="col-lg-9">

			  <div class="row">
			    {% for product in collection.products %}
			      <div class="col-lg-4 product-box">
			        {% if product.featured_image != blank %}
			          <a href="{{ product.url | within: collection }}">
			            {% include 'responsive-image' with
			              image: product.featured_image,
			              max_width: 700,
			              max_height: 800
			            %}
			          </a>
			        {% endif %}
			
			        <p class="product-title">
			          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
			        </p>
			      </div>
			
			    {% else %}
			      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
			        {% for i in (1..8) %}
			        <div class="col-md-4 product-box">
			          <a href="{{ product.url | within: collection  }}">
			            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
			            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
			          </a>
			
			          <p class="product-title">
			            <a href="{{ product.url | within: collection  }}">{{ 'homepage.onboarding.product_title' | t }}</a>
			          </p>
	
			        </div>
			        {% endfor %}
			      {% else %}
			        <p>{{ 'collections.general.no_matches' | t }}</p>
			      {% endif %}
			
			    {% endfor %}
			  </div>
  
			</div>
		</div>
	</div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}

<script type="text/javascript">
$('.filter_checkbox').off().change( function(){
   	var newURL = $(this).nextAll('a').attr('href');
   	window.location.href = newURL;
   });
</script>

{% endif %}
