<div class="container processdesignrow">
	<div class="row">
		<div class="col-12 text-center page-header">
			<h1>{{ section.settings.title }}</h1>
<section class="separator small">

</section>

			<div class="featured-text">{{ section.settings.featured_text }}</div>
		</div>
	</div>
</div>


<section class="process processpage process-{{ section.id }}">
	<div class="container">
		<div class="row no-gutters section-row align-items-stretch {% if section.settings.position == "left" %}flex-row-reverse{% endif %} ">
			<div class="col-md-6 img">
				<div class="slickjs-2">
				  {%- for block in section.blocks -%}
				  	<div class="position-relative">
					  	<div class="bg" style="background-image: url('{{ block.settings.bg | img_url: '1920x' }}');"></div>
					</div>
				  {% endfor %}
				</div>
			</div>
			<div class="col-md-6" style="background-color: {{ section.settings.color_code }};">
				<div class="slickjs-nav-2">
					 {%- for block in section.blocks -%}
					 	<div>
						 	<h3>{{ block.settings.title }}</h3>
						 	{{ block.settings.text }}
						 </div>
					 {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


<style type="text/css">
	.process-{{ section.id }} .slick-arrow:before {
		color: {{ section.settings.arrows_color }} !important;
	}
	.process-{{ section.id }} .btn:after {
		color: {{ section.settings.arrows_color }} !important;
	}
	.process-{{ section.id }} .slick-dots li:not(.slick-active) button {
		color: {{ section.settings.arrows_color }} !important;
	}
	.process-{{ section.id }} .slick-dots li {
		border-right-color: {{ section.settings.arrows_color }} !important;
	}
</style>

{% schema %}
  {
    "name": "Process - Design",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "My story"
      },
      {
        "type": "richtext",
        "id": "featured_text",
        "label": "Text",
        "default": "<p>Jill Malek’s range of wallcoverings and rugs are inspired by frequencies found in nature and urban landscapes.k</p>"
      },
		{
		   "type":      "select",
		   "id":        "position",
		   "label":     "Position",
		   "options": [
		     {
		       "group": "value",
		       "value": "left",
		       "label": "On left"
		     },
		     {
		       "group": "value",
		       "value": "right",
		       "label": "On right"
		     }
		   ],
		   "default":   "right",
		   "info":      "On right"
		},
		{
	        "type": "text",
	        "id": "color_code",
	        "label": "HEX color code background",
	        "default": "#4B515D"
		},
		{
	        "type": "text",
	        "id": "arrows_color",
	        "label": "HEX color of arrows",
	        "default": "#4B515D"
		}
    ],
	"blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
            {
		        "type": "image_picker",
		        "id": "bg",
		        "label": "Background"
            },
            {
		        "type": "text",
		        "id": "title",
		        "label": "Title"
            },
		      {
		        "type": "richtext",
		        "id": "text",
		        "label": "Text",
		        "default": "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>"
		      }
        ]
      }
    ]
  }
{% endschema %}
