<section data-section-id="{{ section.id }}" data-section-type="product">
	<div class="container-fluid removeponmobile">
		<div class="row row-product-hero no-gutters">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  		<div class="col-gallery position-relative featuredimages">
		  	<div class="slickjs-3">
			  	{% assign images = product.images %}
			  {% for image in images  %}
				  <div>
					<img class="w-100" data-lazy="{{ image | img_url: '900x900', crop: 'center' }}" />
				  </div>
			  {% endfor %}
				</div>
				<button class="toggle-lightbox" data-toggle="product-lightbox">
					<i class="icon-camera"></i>
				</button>
		  	{% if images.size > 1 %}
		  	{% comment %}
		  	<div class="slickjs-3-nav">
			  	{% assign images = product.images %}
			  {% for image in images  %}
				  <div>
					<img class="w-100" src="{{ image | img_url: '100x100', crop: 'center' }}" />
				  </div>
			  {% endfor %}
		  	</div>
		  	{% endcomment %}
		  	{% endif %}
  		</div>
  		<div class="col-content product-details">

			  <h1>{{ product.title }}</h1>

		    <div data-price-wrapper>
		      <span data-product-price>
		        {{ current_variant.price | money }}
		      </span>

		      {% if product.compare_at_price_max > product.price %}
		        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
		        <s data-compare-price>
		          {% if current_variant.compare_at_price > current_variant.price %}
		            {{ current_variant.compare_at_price | money }}
		          {% endif %}
		        </s>
		      {% endif %}
		    </div>

			  <div class="rte description">
			    {{ product.description }}
			  </div>

			  {% if section.settings.show_share_buttons %}
			    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
			  {% endif %}

			  {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}


			    <noscript>
			      <select name="id">
			        {% for variant in product.variants %}
			          <option
			            {% if variant == current_variant %}selected="selected"{% endif %}
			            {% unless variant.available %}disabled="disabled"{% endunless %}
			            value="{{ variant.id }}">
			              {{ variant.title }}
			          </option>
			        {% endfor %}
			      </select>
			    </noscript>

				<div class="row vsmall-gutters">
			    {% unless product.has_only_default_variant %}
			      {% for option in product.options_with_values %}
			        <div class="js col-auto">

			          {% if forloop.index0 > 0 %}

						  	<div class="select-wrapper ">
				            <label for="Option{{ option.position }}">
				              {{ option.name }}
				            </label>
				            <div class="qty-input"><select
				              id="Option{{ option.position }}"
				              name="options[{{ option.name | escape }}]">
				              {% for value in option.values %}
				                <option
				                  value="{{ value | escape }}"
				                  {% if option.selected_value == value %}selected="selected"{% endif %}>
				                    {{ value }}
				                </option>
				              {% endfor %}
				            </select></div>
						  	</div>

			          {% else %}

							<div class="select-wrapper">
				            <label for="Option{{ option.position }}">
				              {{ option.name }}
				            </label>
				            <div class="qty-input"><select
				              id="Option{{ option.position }}"
				              name="options[{{ option.name | escape }}]">
				              {% for value in option.values %}
				                <option
				                  value="{{ value | escape }}"
				                  {% if option.selected_value == value %}selected="selected"{% endif %}>
				                    {{ value }}
				                </option>
				              {% endfor %}
				            </select></div>
							</div>
			          {% endif %}
			        </div>
			      {% endfor %}
			    {% endunless %}

					<div class="col-auto d-flex flex-column">
				   	 	<label for="Quantity">{{ 'products.product.quantity' | t }}</label>
				   	 	<div class="qty-input"><input type="number" id="Quantity" name="quantity" value="1" min="1"></div>
					</div>
					<div class="col-auto">
					    <button
					      type="submit"
					      name="add"
					      data-submit-button
					      {% unless current_variant.available %}disabled="disabled"{% endunless %}>
					        <span data-submit-button-text>
					          {% if current_variant.available %}
					            {{ 'products.product.add_to_cart' | t }}
					          {% else %}
					            {{ 'products.product.sold_out' | t }}
					          {% endif %}
					        </span>
					    </button>
					</div>
			  {% endform %}

  		</div>
		</div>
	</div>
</section>

<div id="product-lightbox" class="product-lightbox">
	<div class="slickjs-4">
		{% assign images = product.images %}
	{% for image in images  %}
		<div>
		<img data-lazy="{{ image | img_url: '900x900', crop: 'center' }}" />
		</div>
	{% endfor %}
	</div>
	<button class="product-lightbox-close" data-dismiss="product-lightbox"></button>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
